[Unit]
Description=Assistant server daemon
After=network.target

[Service]
ExecStart=/home/assistant/assistant -c config.toml
ExecReload=/bin/kill -1 $MAINPID
ExecStop=/bin/kill -2 $MAINPID
Type=simple
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
